{
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}